<h3>Listing images</h3>
 
<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th></th>
  </tr>
 
  <% @images.each do |i| %>
    <tr>
      <td><%= i.title %></td>
      <td><%= i.link %></td>
      <td><%= link_to 'Show', image_path(i) %></td>
      <td><%= image_tag(i.link, class: "gallery_item") %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add image', new_image_path%>