<div class = 'row'>
  <div class = 'col'><h3>Listing images</h3></div>
</div>
<div class = 'row gallery'>
  <% @images.each do |i| %>
    <div class = 'col-lg-4 col-md-4 col-sm-12 gallery__card'>
      <div class = 'card gallary__card' >
        <%= image_tag(i.link, class: "card-img-top", alt: 'Image Preview') %>
        <div class = 'card-body'>
          <h5 class = 'card-title'><%= i.title %></h5>
          <p>Link: <%= i.link %></p>
          <p>
            Tags:
            <% i.tag_list.each do |tag| %>
              <span class='badge badge-primary'> <%= tag %></span>
            <% end %>
          </p>
          <%= link_to 'Show', image_path(i), class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Add image', new_image_path%>
